numpy
pandas
tables
torch
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu121
tqdm
requests
tensorboard
matplotlib
Pillow
scikit-learn
pyroot
protobuf
h5py 
hdf5plugin
torchinfo
torchviz
tensorboard

root
uproot 
pandas
fastjet
